.dropdrown-item{
    cursor: pointer;
    padding: 5px 10px;
}
.dropdrown-item:hover{
    color: black;
}

.phone-cell_sell {
  text-align: start;
  font-size: 16px;
 
}
.phone-cell:hover{
    color: #03283C;
}