h2{
    color: #04283C;
    margin-left: 40px;

}
.new-list-section{

   margin: 0 80px;
}
.cards-container {
  display: flex;
  gap: 25px;
  padding-bottom: 8px;
  justify-content: center;
  
}


.card {
  background-color: #088a4b; 
  color: white;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 200px;
  max-height: 250px;
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 5px;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0px 0;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.card-price {
  font-size: 1rem;
  margin: 3px 0 0px;
}

.card-user,
.card-location {
  font-size: 0.9rem;
  margin: 3px 0 0px;
}
.top-seller-section{
    margin: 0 80px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
.top-seller-card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #A6A6A6;
  border-radius: 10px;
  align-items: center;
}

.top-seller-author{
  align-self: flex-start;
  margin-left: 10px;
  
}

.top-seller-card-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px; 
  
}



.top-seller-card-image {
  width: 130px;
  height: 100px;
  padding: 5px;
  background-color: #01894D;
  border-radius: 10px;
}
.card-section{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.about-me-section{
  background-color: #01894D;
  height: 400px;
  display: flex;
  margin-top: 40px;
}
.image-half{
  width: 39vw;
  margin: auto;
  display: flex;
  justify-content: center;
}
.text-half{
  width: 59vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.link-btns{
  margin-right: 40px;
  margin-top: 40px;
}
.text-half p{
  max-width: 80%;
}
